<h1>Editing framework</h1>

<%= render "form", framework: @framework %>

<br>

<div>
  <%= link_to "Show this framework", @framework %> |
  <%= link_to "Back to frameworks", frameworks_path %>
</div>
