<% @breadcrumbs = [] %>
<% content_for :edit_button, new_button(Category) %>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Categories</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all Framework Categories.</p>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Name</th>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <%= render @categories %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
